# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
!notebooks/DataCamp_CNN_Knee_1.0.ipynb

# Project specific
# Keep only the two latest log files
logs/*
!logs/
!logs/data_loading_*.log
logs/data_loading_*.log
!logs/`ls -t logs/data_loading_*.log | head -n 2 | xargs -n 1 basename`
logs/archive/

models/*.pth
results/*.png
data/Digital Knee X-ray Images/
cleanup.py
manage_logs.py
backup_*/
DataCamp_CNN_Knee_beta.ipynb

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 